* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: 'Playfair Display', serif;
}

.img-thumb {
  height: 3em;
  background-color: white;
  width: 10rem;
}

.header {
  margin-left: rem;
}

#navbarSupportedContent ul li {
  margin: 0rem 1.5rem;
}

.d-flex a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.carousel-caption {
  height: 20rem;
  width: 26rem;
}

.cards-grp {
  display: flex;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
}

.microsoft-store-templete {
  margin: 3rem 0rem 0rem 0rem;
  background: url(/img/microsoft-store-img.webp);
  height: 28rem;
  background-size: cover;
  width: 100%;
  color: white;
  padding: 10rem 4rem;
}

.microsoft-store-templete button {
  height: 2.4rem;
  width: 9rem;
  padding: 0px 0px 4px 0px;
  border-radius: 8px;
  background-color: lightskyblue;
  border: none;
  transition-duration: 0.4s;
}

.microsoft-store-templete button:hover{
  background:moccasin;
}

.cards-grp2 {
  display: flex;
  margin-top: 2rem;
}

.app-icons img {
  height: 1.8rem;
  width: 2rem;
  margin-left: 0.5rem;
}

.icons-item {
  display: flex;
}

.footer {
  margin-top: 1rem;
  display: flex;
  padding-bottom: 5rem;
  justify-content: space-around;
  background-color: lightgray;
}

.footer a {
  font-size: 12px;
  color: black;
  text-decoration: none;
}

.footer h5 {
  font-size: 15px;
  margin-bottom: 1.3rem;
}

.footer_sec_1 {
  width: 10rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.footer_sec_2 {
  width: 10rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.footer_sec_3 {
  width: 10rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.footer_sec_4 {
  width: 10rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.footer_sec_5 {
  width: 10rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.footer_sec_6 {
  width: 10rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

#footer-position a {
  margin-bottom: 1rem;
}
/* .gototop
{
    background-color: blue;
    height:5rem;
    width: 9rem;
    font-size: 18px;
    color: #fff;
    border:none;
    border-radius:5px;
    float:right;
    margin-top:-5rem;
    position : fixed;
} */

.fixedbutton {
  position: fixed;
  top: 530px;
  left: 89%;
}
.fixedbutton button{
    background-color: blue;
    height:4rem;
    width: 8rem;
    font-size: 18px;
    color: #fff;
    border:none;
    border-radius:5px;
}